<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bid placed for your NFT</title>
</head>
<body style="background-color: #E5E7EB; display: flex;">
    <div style="background-color: #FFFFFF; color: #1F2937; padding: 1rem; width: 60%; max-width: 42rem; margin: 2rem auto; border-radius: 0.375rem; font-family: Roboto, sans-serif;">
        <div style="text-align: center">
            <img src="cid:logo" th:src="|cid:${logoResourceName}|" alt="skyplace_logo"/>
            <h2 style="font-size: 1.875rem; line-height: 2.25rem; margin-top: 0.125rem;">Skyplace</h2>
        </div>
        <p>Hello <span th:text="${sellerMail}">someuser</span>,</p>
        <p>We wanted to inform you that user <span th:text="${buyerMail}">someuser</span> has just placed a bid of <span th:text="${nftBidEthPrice}"></span> ETH for your NFT <span th:text="${nftName}">someNFT</span>#<span th:text="${nftId}"></span>.</p>
        <hr style="color: #E5E7EB;">
        <div style="display: flex; margin: 0 auto;">
            <img style="height: 14rem; margin: auto 0; display: block; border: 1px solid black; border-radius: 0.375rem;" src="cid:nftImage" th:src="|cid:${nftImageResourceName}|" alt="skyplace_logo"/>
            <div style="margin: auto 0 auto 1rem">
                <div style="margin: 0.5rem 0;">
                    <span style="margin: 0 0 0.25rem 0; font-size: 1rem;"><b>Bidder</b></span>
                    <div style="display: flex">
                        <img style="max-height: 1.75rem; margin: auto 0;" src="cid:userImage" th:src="|cid:${userImageResourceName}|" alt="skyplace_logo"/>
                        <span style="margin: auto 0 auto 0.5rem;" th:text="${buyerMail}"></span>
                    </div>
                </div>
                <div style="margin: 0.5rem 0;">
                    <span style="margin: 0 0 0.25rem 0; font-size: 1rem;"><b>NFT name</b></span>
                    <div style="display: flex">
                        <img style="max-height: 1.75rem; margin: auto 0;" src="cid:nftName" th:src="|cid:${nftNameImageResourceName}|" alt="skyplace_logo"/>
                        <span style="margin: auto 0 auto 0.5rem;" th:text="${nftName} + '#' + ${nftId}"></span>
                    </div>
                </div>
                <div style="margin: 0.5rem 0;">
                    <span style="margin: 0 0 0.25rem 0; font-size: 1rem;"><b>NFT contract address</b></span>
                    <div style="display: flex">
                        <img style="max-height: 1.75rem; margin: auto 0;" src="cid:nftAddress" th:src="|cid:${nftAddressImageResourceName}|" alt="skyplace_logo"/>
                        <span style="margin: auto 0 auto 0.5rem;" th:text="${nftAddress}"></span>
                    </div>
                </div>
                <div style="margin: 0.5rem 0;">
                    <span style="margin: 0 0 0.25rem 0; font-size: 1rem;"><b>Bid price</b></span>
                    <div style="display: flex">
                        <img style="max-height: 1.75rem; margin: auto 0;" src="cid:nftPrice" th:src="|cid:${priceImageResourceName}|" alt="skyplace_logo"/>
                        <span style="margin: auto 0 auto 0.5rem;" th:text="${nftBidEthPrice} + ' ETH'"></span>
                        &nbsp;
                        <span style="color: #9CA3AF; margin: auto 0;" th:text="'($' + ${nftBidUsdPrice} + ')'"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>