<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registered to Skyplace</title>
</head>
<body style="background-color: #E5E7EB; display: flex;">
    <div style="background-color: #FFFFFF; color: #1F2937; padding: 1rem; width: 60%; max-width: 42rem; margin: 2rem auto; border-radius: 0.375rem; font-family: Roboto, sans-serif;">
        <div style="text-align: center">
            <img src="cid:logo" th:src="|cid:${logoResourceName}|" alt="skyplace_logo"/>
            <h2 style="font-size: 1.875rem; line-height: 2.25rem; margin-top: 0.125rem;">Skyplace</h2>
        </div>
        <p>Hello <span th:text="${username}">someuser</span>,</p>
        <p>Welcome to Skyplace, a marketplace of non-fungible tokens (NFTs).</p>
        <hr style="color: #E5E7EB;">
        <div style="display: flex; margin: 0 0.5rem;">
            <img style="max-height: 5rem; margin: auto 1.5rem;" src="cid:buy" th:src="|cid:${buyResourceName}|" alt="buy_logo"/>
            <div style="margin: auto;">
                <p style="font-size: 1rem; line-height: 1.5rem; margin: 0 auto;"><b>Buy or Bid, you choose</b></p>
                <p style="font-size: 0.75rem; line-height: 1rem; margin:0.5rem auto; color: #6B7280;">Buy NFTs for their listed price or make a bid for them, where the owner will then accept the best offer made and transfer the NFT to its new owner.</p>
            </div>
        </div>
        <hr style="color: #E5E7EB;">
        <div style="display: flex; margin: 0 0.5rem;">
            <div style="margin: auto;">
                <p style="font-size: 1rem; line-height: 1.5rem; margin: 0 auto;"><b>Sell your own</b></p>
                <p style="font-size: 0.75rem; line-height: 1rem; margin:0.5rem auto; color: #6B7280;">Post your NFTs for sale adding as many properties and details as you like, then monitor the offers received through the product page or your own profile. Take into account that you can edit the publication or even take down at any time, in case you regret publishing your NFT.</p>
            </div>
            <img style="max-height: 5rem; margin: auto 1.5rem;" src="cid:sell" th:src="|cid:${sellResourceName}|" alt="sell_logo"/>
        </div>
        <hr style="color: #E5E7EB;">
        <div style="display: flex; margin: 0 0.5rem;">
            <img style="max-height: 5rem; margin: auto 1.5rem;" src="cid:explore" th:src="|cid:${exploreResourceName}|" alt="explore_logo"/>
            <div style="margin: auto;">
                <p style="font-size: 1rem; line-height: 1.5rem; margin: 0 auto;"><b>Explore all kinds of NFTs</b></p>
                <p style="font-size: 0.75rem; line-height: 1rem; margin:0.5rem auto; color: #6B7280;">Browse using the filters to find the exact NFTs you are looking for. If you find one that interests you, you can mark it as favorite and follow it even when the publication is taken down or finished.</p>
            </div>
        </div>
        <hr style="color: #E5E7EB;">
        <p style="text-align: center"><a href="http://pawserver.it.itba.edu.ar/paw-2022a-09/login">Sign in</a> to your account to start using these features</p>
    </div>
</body>
</html>